.comments {
  font-size: 13px;
  line-height: 16px;
  clear: both;

  .comment {
    margin-top: 8px;

    .icon{
      margin-top: 1px;
      float: left;
      margin-right: 4px;
    }

    // Hover on date field
    a.date {
      display: inline;
      float: left;
      height: 16px;
      width: 16px;
    }

    div.body {
      margin-left: 19px;
    }

    span.comment-text {
    }
    span.author {
    }
    span.controls {
    }

    // Edit comment form
    div.edit {
    }
  }

  .more-comments {
    padding-left: 19px;
    font-style: italic;
  }
}
