.create-post {
  padding-bottom: 14px;
  border-bottom: 1px solid #eee;
  margin-bottom: 14px;

  .attachments {
    margin: 0 0 10px 0;
    overflow: hidden;

    .attachment {
      float: left;
      border: 1px solid silver;
      padding: 1px;
      margin: 0 8px 8px 0;
    }
  }
}
