.create-post {
  padding-bottom: 14px;
  border-bottom: 1px solid #eee;
  margin-bottom: 14px;

  .attachments {
    margin: 0 0 5px 0;

    // Clearfix (http://www.cssmojo.com/latest_new_clearfix_so_far/)
    &:after {
      content: '';
      display: table;
      clear: both;
    }
  }

  .image-attachments {
    > .ember-view {
      display: inline-block;
      vertical-align: middle;
    }

    .attachment {
      display: inline-block;
      vertical-align: middle;
      border: 1px solid silver;
      padding: 1px;
      margin: 0 8px 8px 0;
    }
  }

  .audio-attachments {
    .attachment {
      display: inline-block;
      margin: 0 8px 8px 0;

      .full-player {
        width: 400px !important;
      }

      .audio-wrapper {
        position: relative;

        .inner {
          padding-bottom: 5px;
        }
      }

      i {
        color: #666666;
        padding: 0 1px;
      }
    }
  }

  .general-attachments {
    .attachment {
      display: inline-block;
      margin: 0 8px 8px 0;

      i {
        color: #666666;
        padding: 0 1px;
      }
    }
  }

  .uploading-attachments {
    > .ember-view {
      display: inline-block;
      vertical-align: middle;
    }

    .attachment {
      display: inline-block;
      vertical-align: middle;
      border: 1px solid silver;
      padding: 1px;
      margin: 0 8px 8px 0;
    }
  }

  .create-attachment {
    cursor: pointer;
    color: #555;
    font-weight: normal;
    margin: 0;

    input[type="file"] {
      position: fixed;
      top: -1000px;
    }

    i {
      padding-right: 1px;
    }

    &:hover span {
      text-decoration: underline;
    }
  }
}
