.create-post {
  padding-bottom: 14px;
  border-bottom: 1px solid #eee;
  margin-bottom: 14px;

  .attachments {
    margin: 0 0 10px 0;
    overflow: hidden;

    .attachment {
      float: left;
      padding: 1px;
      margin: 0 8px 8px 0;

      .full-player {
        width: 400px !important;
      }

      .audio-wrapper {
        position: relative;
      }

      .audio-wrapper .inner {
        padding-top: .45em;
        padding-bottom: .3em;
      }

      i {
        color: #666666;
        padding-right: 1px;
      }

      img {
        border: 1px solid silver;
      }
    }
  }
}
