<footer class="footer p-footer">
  &copy; freefeed 0.2.0 (June 12, 2015) | Runs on <a href="https://github.com/pepyatka">Pepyatka</a> open-source engine v0.2.0 | <a href="http://about.freefeed.net">About</a>
</footer>
