<footer class="footer p-footer">
  Pepyatka 2012-2015 |
  <a href="https://github.com/pepyatka/pepyatka"><i class="fa fa-github-alt"></i> Github</a> |
  {{#link-to 'home'}}About{{/link-to}}
</footer>
