<footer class="footer p-footer">
  &copy; freefeed 0.3.1 (July 11, 2015) | Runs on <a href="https://github.com/pepyatka">Pepyatka</a> open-source engine v0.3.0 | <a href="http://about.freefeed.net">About</a>
</footer>
