<footer class="footer p-footer">
  &copy; FreeFeed 0.4.1 (September 22, 2015) | Runs on <a href="https://github.com/pepyatka">Pepyatka</a> open-source engine | <a href="http://about.freefeed.net">About</a> | <a href="http://freefeed.reformal.ru/">Reformal: suggest new features</a>
</footer>
