<footer class="p-footer">
  Pepyatka 2012-2015 |
  <a href="https://github.com/pepyatka/pepyatka"><i class="fa fa-github-alt"></i> Github</a> |
  <a href="http://about.freefeed.net" target="_blank">О проекте</a>
</footer>
