Email address: {{input name="email" value=email}}
<br/>
<button {{action 'resetPassword'}}>Reset my password</button>

{{#if message}}
  <div class="alert alert-info" role="alert">
    <span id="error-message">{{message}}</span>
  </div>
{{/if}}

{{#if errors}}
  <div class="alert alert-danger" role="alert">
    <span id="error-message">{{errors}}</span>
  </div>
{{/if}}
