<div class="col-md-12">
  <h2 class="p-create-new-group-header">Create new group</h2>

  <p class="p-create-new-group-description">Freefeed group is just a feed, but multiple users can contribute to its contents. Everyone in the group can share stuff with each other and leave comments that others in the group can see.</p>

  {{#if errors}}
    <div class="alert alert-danger p-create-new-group-error" role="alert">
      <span>Error:</span>
      <span id="error-message">{{errors}}</span>
    </div>
  {{/if}}

  <div class="row">
    <div class="col-md-6">
      <form action="/groups" method="post" class="p-create-new-group-form">
        <div class="form-group p-create-new-group-name">
          <label for="screenName">Name</label>
          {{input id="screenName" name="screenName" value=screenName class="form-control"}}
        </div>

        <div class="form-group p-create-new-group-username">
          <label for="username">Username</label>
          {{input id="username" value=username type="text" class="form-control"}}
        </div>

        <div class="form-group p-create-new-group-action">
          <button {{action "create"}} class="btn btn-default p-create-feed">Create group</button>
        </div>
      </form>
    </div>
  </div>
</div>
