<div class="posts p-hidden-posts">
  {{#each model.posts itemController="timeline-post" as |post|}}
    {{#if post.model.isHidden}}
      {{view "timeline-post" content=post}}
    {{/if}}
  {{/each}}
</div>
