<div class="posts p-hidden-posts">
  {{#each post in model.posts itemController="timeline-post"}}
    {{#if post.model.isHidden}}
      {{view "timeline-post" content=post}}
    {{/if}}
  {{/each}}
</div>