<h2>What is Pepyatka?</h2>

<p>Pepyatka is an open source FriendFeed clone (yes, it is free and
open!). Basically, this is a social real-time feed aggregator that
allows you to share cute kittens, coordinate upcoming events, discuss
any other cool stuff on the Internet or setup a private Pepyatka
instance in your company.</p>