<ul class="pager p-pagination-controls">
  {{#if prevPageVisible}}
    <li class="{{prevPageDisabled}}"}}><a {{action 'prevPage'}} class="p-pagination-newer">« Newer items</a></li>
  {{/if}}

  {{#if nextPageVisible}}
    <li class="{{nextPageDisabled}}"}}><a {{action 'nextPage'}} class="p-pagination-older">Older items »</a></li>
  {{/if}}
</ul>
