<div class="posts">
  {{#each model.posts itemController="timeline-post" as |post|}}
    {{#unless post.model.isHidden}}
      {{view "timeline-post" content=post}}
    {{/unless}}
  {{/each}}
</div>
