<div class="profile">
  <div class="row">
    <div class="col-md-10">
      <div class="avatar">
        <img src="/img/64x64.png">
      </div>

      <a href="#">Settings</a>

      <div class="description">
        <div class="name">{{content.user.info.screenName}}</div>
      </div>
    </div>
    <div class="col-md-2">
      <div class="stats">
        <div>
          {{#link-to 'timeline.subscriptions' controller.session.currentUser.username}}10 subscriptions{{/link-to}}
        </div>
        <div>
          {{#link-to 'timeline.subscribers' controller.session.currentUser.username}}10 subscribers{{/link-to}}
        </div>
        <div>
          {{#link-to 'timeline.comments' controller.session.currentUser.username}}1000 comments{{/link-to}}
        </div>
        <div>
          {{#link-to 'timeline.likes' controller.session.currentUser.username}}2000 likes{{/link-to}}
        </div>
      </div>
    </div>
  </div>
</div>

