New password: {{input name="newPassword" type="password" value=newPassword}}
<br/>
Password confirmation: {{input name="passwordConfirmation" type="password" value=passwordConfirmation}}
<br/>
<button {{action 'resetPassword'}}>Save my password</button>

