To:

<select id="sendToSelect" multiple="multiple">
  <option selected="selected" value="{{controller.session.currentUser.username}}">My feed</option>
  {{#each group in controller.session.currentUser.groups}}
    <option value="{{group.user.username}}">{{group.user.screenName}}</option>
  {{/each}}
</select>

{{#if view.showToggler}}
  <a {{action 'toggleEditability' target=view}}>Add/Edit</a>
{{/if}}
