To:

<select id="sendToSelect" multiple="multiple" class="p-sendto-select">
  <option selected="selected" value="{{controller.session.currentUser.username}}" class="p-sendto-selected">My feed</option>
  {{#each group in controller.session.currentUser.groups}}
    <option value="{{group.user.username}}" class="p-sendto-option">{{group.user.screenName}}</option>
  {{/each}}
</select>

{{#if view.showToggler}}
  <span class="send-to">
    <a {{action 'toggleEditability' target=view}} class="p-sendto-toggler">Add/Edit</a>
  </span>
{{/if}}
