<div class="col-md-12">
  <h2 class="p-signin-header">Sign in</h2>

  {{#if errors}}
    <div class="alert alert-danger p-signin-error" role="alert">
      <span id="error-message">{{errors}}</span>
    </div>
  {{/if}}

  <div class="row">
    <div class="col-md-6">
      <form action="/session" method="post" class="p-signin">
        <div class="form-group">
          <label for="username">Username</label>
          {{input id="username" value=username type="text" class="form-control"}}
        </div>

        <div class="form-group">
          <label for="password">Password</label>
          {{input id="password" value=password type="password" class="form-control"}}
        </div>

        <div class="form-group">
          <button {{action "signin"}} class="btn btn-default p-singin-action">Sign in</button>
        </div>
      </form>

      {{#if errors}}
        {{#link-to "forgot-password"}}Forgot your password?{{/link-to}}
      {{/if}}
    </div>
  </div>
</div>
