{{#if controller.session.signedIn}}
  <div class="submitForm">
    <div class="row">
      <div class="col-md-12">
        sendTo
      </div>
    </div>

    <div class="row sumbitText">
      <div class="col-md-12">
        {{textarea value=body class="editarea"}}
      </div>
    </div>

    <div class="row submitControls">
      <div class="col-md-6">
        <div class="pull-left">
          Add file
        </div>
      </div>
      <div class="col-md-6">
        <div class="pull-right">
          <button {{action 'create'}} class="btn btn-default btn-xs">Post</button>
        </div>
      </div>
    </div>
  </div>
{{/if}}
