10 subscriptions<br/>
10 subscribers<br/>
1000 comments<br/>
{{#link-to 'timeline.likes' controller.session.currentUser.username}}2000 likes{{/link-to}}<br/>

<hr/>

<div class="posts">
  <ul class="media-list">
    {{#each post in posts itemController="timeline-post"}}
      {{view "timeline-post" content=post}}
    {{/each}}
  </ul>
</div>
