{{view "breadcrumbs" steps="Subscriptions" user=content.query}}

<h3 class="p-timeline-subscription-users-header">Friends</h3>
<ul class="tile-list">
  {{#each subscription in model}}
    {{#if subscription.isPosts}}
      {{#if subscription.user.isUser}}
        <li class="p-timeline-subscription-user">
          {{#link-to 'timeline.index' subscription.user.username (query-params offset=0)}}
            <div class="avatar">
              <img src="/img/default-userpic-75.png" />
            </div>

            {{subscription.user.screenName}}
          {{/link-to}}
        </li>
      {{/if}}
    {{/if}}
  {{/each}}
</ul>

<h3 class="p-timeline-subscription-groups-header">Groups</h3>
<ul class="tile-list">
  {{#each subscription in model}}
    {{#if subscription.isPosts}}
      {{#if subscription.user.isGroup}}
        <li class="p-timeline-sunsctiption-group">
          {{#link-to 'timeline.index' subscription.user.username (query-params offset=0)}}
            <div class="avatar">
              <img src="/img/default-userpic-75.png" />
            </div>

            {{subscription.user.screenName}}
          {{/link-to}}
        </li>
      {{/if}}
    {{/if}}
  {{/each}}
</ul>
