{{view "profile-links"}}

<hr/>

<div class="posts">
  <ul class="media-list">
    {{#each post in posts itemController="timeline-post"}}
      {{view "timeline-post" content=post}}
    {{/each}}
  </ul>
</div>
