{{#link-to 'timeline.subscribers' controller.session.currentUser.username}}10 subscriptions{{/link-to}}<br/>
10 subscribers<br/>
{{#link-to 'timeline.comments' controller.session.currentUser.username}}1000 comments{{/link-to}}<br/>
{{#link-to 'timeline.likes' controller.session.currentUser.username}}2000 likes{{/link-to}}<br/>

<hr/>

<div class="posts">
  <ul class="media-list">
    {{#each post in posts itemController="timeline-post"}}
      {{view "timeline-post" content=post}}
    {{/each}}
  </ul>
</div>
