{{view "breadcrumbs" steps="Subscribers" user=controller.session.currentUser}}

<h3 class="p-user-subscribers">Subscribers</h3>
<ul>
  {{#each user in model}}
    <li class="p-user-subscriber">
      {{#link-to 'timeline.index' user.username}}
        <div class="avatar">
          <img src="/img/48x48.png" />
        </div>

        {{user.screenName}}
      {{/link-to}}
    </li>
  {{/each}}
</ul>
