<div class="col-md-12">
  <h2 class="p-signup-header">Sign up</h2>

  {{#if errors}}
    <div class="alert alert-danger p-signup-errors" role="alert">
      <span>Error:</span>
      <span id="error-message">{{errors}}</span>
    </div>
  {{/if}}

  <div class="row">
    <div class="col-md-6">

    </div>
  </div>
</div>
