.send-to {
  padding-bottom: 6px;
}

.select2-container--default {
  &.select2-container--disabled {
    .select2-selection--multiple {
      background-color: #fff;
    }
  }
}

.select2-container--default {
  .select2-selection--multiple {
    border: 1px solid #fff;
  }
}

.select2-search__field {
  width: -moz-calc(100% - 25px) !important;
  width: -webkit-calc(100% - 25px) !important;
  width: calc(100% - 25px) !important;
}

// textarea for add|edit posts and comments
@mixin editarea {
  border: 1px solid #b4b4b4;
  border-top-color: #727272;
  border-bottom-color: #dadada;
  background: white url("/img/themes/fresh/textbox-bg.png") repeat-x top;
  padding: 3px;
  width: 100%;
  margin-bottom: 3px;
}
.edit-post-area {
  @include editarea;
  //min-height: 30px;
}
.edit-comment-area{
  @include editarea;
  height: 26px;
}
