// Header

.header {
  height: 70px;
}

.search-field {
  margin-top: 23px;
  height: 70px;
  .search-input{
    width: 70%;
  }
}

.signin-toolbar {
  margin-top: 25px;
}

h1.title a {
  color: #222;
}

h1.title a:hover {
  text-decoration: none;
}