.post-body {
  color: #666;

  a {
    color: #555599;
  }

  .title {
    font-size: 15px;
    margin-bottom: 2px;

    a {
      font-weight: bold;
      color: #000088;
    }
  }

  .body {
    margin-bottom: 8px;

    .text {
      color: #000;

      a {
        color: #000088;
      }
    }
  }

  .attachments {
    margin-bottom: 2px;
    overflow: hidden;

    .attachment {
      float: left;
      border: 1px solid silver;
      padding: 1px;
      margin: 0 8px 8px 0;
    }
  }

  .info {
    font-size: 13px;
    line-height: 16px;

    .post-date a {
      color: #666;
    }
  }

  .likes {
    margin-top: 8px;
    .icon {
      float: left;
      color: #ffb914;
    }
    ul {
      list-style: none;
      padding: 0;
      margin: 0 4px 10px 8px;
      float: left;
    }
    ul li {
      display: inline;
    }
  }
}
