.avatar{
  img{
    border: 1px #c1c1c1 solid;
  }
}

.profile{
  padding-bottom: 16px;
  border-bottom: 1px solid #eee;
  margin-bottom: 16px;

  .avatar {
    float: left;
    img{
      width: 75px;
      height: 75px;
    }
  }

  .description {
    font-family: Arial, sans-serif;
    color: #000;
    margin-left: 20px;
    float: left;
    .name {
      font-size: 24px;
      font-weight: bold;
    }
  }
  .stats {
    text-align: right;
  }
}

.subscribe-controls {
  margin-bottom: 19px;
}
