body {
  background: #9BB4C5 url('/img/themes/fresh/background.png') repeat-x top;
}

@media (min-width: 1200px){
  .container {
    width: 961px;
  }
}

@media (min-width: 992px){
  .container {
    width: 961px;
  }
}

a, a:hover, a:focus {
  cursor: pointer;
  color: #0000cc;
}

.settings-error {
  margin-left: 180px;
}

.settings-error {
  max-width: 174px;
}

.header-row{
  margin-bottom: 0px;
}

.footer {
  margin-bottom: 20px;
  padding-left: 10px;
  font-size: 15px;
  a, a:hover, a:focus {
    color: #7777cc;
  }
}