.post-body {
  color: #666;

  a {
    color: #7777cc;
  }

  .title {
    font-size: 15px;
    margin-bottom: 2px;

    a {
      font-weight: bold;
      color: #0000cc;
    }
  }

  .body {
    margin-bottom: 8px;

    .text {
      color: #000;

      a {
        color: #0000cc;
      }
    }
  }

  .attachments {
    margin-bottom: 2px;
    overflow: hidden;

    .attachment {
      float: left;
      border: 1px solid silver;
      padding: 1px;
      margin: 0 8px 8px 0;
    }
  }

  .info {
    font-size: 13px;
    line-height: 16px;

    .post-date a {
      color: #666;
    }
  }

  .likes {
    margin-top: 8px;

    .icon {
      margin-top: 1px;
      float: left;
      color: #ffb914;
    }

    ul {
      list-style: none;
      padding: 0;
      margin: 0 4px 10px 19px;

      li {
        display: inline;
      }

      .throbber {
        position: absolute;

        img {
          position: relative;
          top: -1px;
          left: 4px;
        }
      }
    }
  }
}
