.post-body {
  color: #666;

  a {
    color: #7777cc;
  }

  .title {
    font-size: 15px;
    margin-bottom: 2px;

    a {
      font-weight: bold;
      color: #0000cc;
    }
  }

  .body {
    margin-bottom: 8px;

    .text {
      color: #000;

      a {
        color: #0000cc;
      }
    }
  }

  .attachments {
    margin-bottom: 2px;

    a {
      color: #0000cc;
      text-decoration: none;

      &:hover span {
        text-decoration: underline;
      }
    }

    // Clearfix (http://www.cssmojo.com/latest_new_clearfix_so_far/)
    &:after {
      content: '';
      display: table;
      clear: both;
    }
  }

  .image-attachments {
    > .ember-view {
      display: inline-block;
      vertical-align: middle;
    }

    .attachment {
      display: inline-block;
      position: relative;
      vertical-align: middle;
      border: 1px solid silver;
      padding: 1px;
      margin: 0 8px 8px 0;

      img {
        max-width: 525px;
        max-height: 175px;
      }

      .remove-attachment {
        display: none;
      }

      &.surplus {
        display: none;
      }
    }

    &.expanded .attachment.surplus {
      display: inline-block;
    }

    .toggle-surplus {
      display: none;
      color: #fad889; // logotype yellow (#f9b616) with lower saturation;
      font-size: 2em;
      text-decoration: none;
      position: relative;
      top: 2px;
    }

    &.has-surplus .toggle-surplus {
      display: inline-block;

      // fa-chevron-circle-right
      &:before {
        content: "\f138";
      }
    }

    &.has-surplus.expanded .toggle-surplus {
      // fa-chevron-circle-left
      &:before {
        content: "\f137";
      }
    }
  }

  .audio-attachments {
    .attachment {
      display: inline-block;
      margin: 0 8px 8px 0;

      .full-player {
        width: 400px !important;
      }

      .audio-wrapper {
        position: relative;

        .inner {
          padding-bottom: 5px;
        }
      }

      i {
        color: #666666;
        padding: 0 1px;
      }

      .remove-attachment {
        display: none;
      }
    }
  }

  .general-attachments {
    .attachment {
      display: inline-block;
      margin: 0 8px 8px 0;

      i {
        color: #666666;
        padding: 0 1px;
      }

      .remove-attachment {
        display: none;
      }
    }
  }

  .info {
    font-size: 14px;
    line-height: 18px;

    .post-date a {
      color: #666;
    }
  }

  .likes {
    margin-top: 8px;

    .icon {
      margin-top: 2px;
      float: left;
      color: #ffb914;
    }

    ul {
      list-style: none;
      padding: 0;
      margin: 0 4px 10px 19px;

      li {
        display: inline;
      }

      .throbber {
        position: absolute;

        img {
          position: relative;
          top: -1px;
          left: 4px;
        }
      }
    }
  }
}

.edit-post {
  .edit-area {
    margin-bottom: 10px;

    .edit-area-controls {
      // Clearfix (http://www.cssmojo.com/latest_new_clearfix_so_far/)
      &:after {
        content: '';
        display: table;
        clear: both;
      }
    }
    .edit-area-controls-left {
      float: left;
    }
    .edit-area-controls-right {
      float: right;
    }

    .cancel-link {
      margin-right: 10px;
    }
  }

  .create-attachment {
    cursor: pointer;
    color: #555;
    font-weight: normal;
    margin: 0;

    input[type="file"] {
      position: fixed;
      top: -1000px;
    }

    i {
      padding-right: 1px;
    }

    &:hover span {
      text-decoration: underline;
    }
  }

  .attachments {
    .image-attachments {
      .attachment:hover .remove-attachment {
        display: block !important;
        position: absolute;
        right: 1px;
        top: 1px;
        cursor: pointer;
        color: #000;
        font-size: 20px;
        padding: 6px 8px 7px 9px;
        z-index: 100;
        background-color: silver;
        opacity: 0.5;
        border-bottom-left-radius: 5px;

        &:hover {
          opacity: 0.8;
        }
      }

      .attachment.removed {
        border: 2px solid #e33;
        padding: 0;
      }

      .attachment.added {
        border: 2px solid #3d3;
        padding: 0;
      }

    }

    .audio-attachments {
      .attachment:hover {
        i {
          display: none;
        }

        .remove-attachment {
          display: inline-block !important;
          padding-left: 2px;

          &:hover {
            background-color: #ddd;
            border-radius: 2px;
          }
        }
      }

      .attachment.removed {
        background-color: #fbb;
      }

      .attachment.added {
        background-color: #bfb;
      }
    }

    .general-attachments {
      .attachment:hover {
        i {
          display: none;
        }

        .remove-attachment {
          display: inline-block !important;
          padding-left: 2px;

          &:hover {
            background-color: #ddd;
            border-radius: 2px;
          }
        }
      }

      .attachment.removed {
        background-color: #fbb;
      }

      .attachment.added {
        background-color: #bfb;
      }
    }

    .uploading-attachments {
      > .ember-view {
        display: inline-block;
        vertical-align: middle;
      }

      .attachment {
        display: inline-block;
        vertical-align: middle;
        margin: 0 8px 8px 0;

        // Progress colors
        $progressCircleColor: #d43e1b;
        $progressCenterColor: #ffffff;
        $progressBackgroundColor: #f9b616;

        // Progress container
        .upload-progress {
          width: 100px;
          height: 100px;
          border-radius: 50%;
          background-color: $progressCircleColor; // default 100%
        }

        // Mixin for progress-% classes
        $step: 1; // step of % for created classes
        $loops: round(100 / $step);
        $increment: 360 / $loops;
        $half: round($loops / 2);
        @for $i from 0 through $loops {
          .progress-#{$i*$step} {
            @if $i < $half {
              $nextdeg: 90deg + ( $increment * $i );
              background-image: linear-gradient(90deg, $progressBackgroundColor 50%, transparent 50%, transparent),
              linear-gradient($nextdeg, $progressCircleColor 50%, $progressBackgroundColor 50%, $progressBackgroundColor);
            } @else {
              $nextdeg: -90deg + ( $increment * ( $i - $half ) );
              background-image: linear-gradient($nextdeg, $progressCircleColor 50%, transparent 50%, transparent),
              linear-gradient(270deg, $progressCircleColor 50%, $progressBackgroundColor 50%, $progressBackgroundColor);
            }
          }
        }

        // Centered circle with text
        .upload-progress .center {
          position: absolute;
          width: 54px;
          height: 54px;
          background-color: $progressCenterColor;
          border-radius: 50%;
          margin-left: 23px;
          margin-top: 23px;
          color: #888888;
          text-align: center;
          line-height: 54px;
        }
      }
    }
  }

  .upload-errors {
    position: relative;
    background-color: #fbb;
    padding: 1px 6px;
    margin: 0 8px 8px 0;

    .clear-upload-errors {
      display: block !important;
      position: absolute;
      right: 0;
      top: 0;
      cursor: pointer;
      color: #966;
      font-size: 20px;
      padding: 4px 6px 5px 7px;
      z-index: 100;

      &:hover {
        color: #433;
      }
    }

    .upload-error {
      color: #433;
      font-size: 14px;
      margin: 3px 0;

      .file-name {
        color: #966;
        font-size: 12px;
      }
    }
  }

  .info,
  .comments {
    opacity: 0.2;
  }
}
