.single-post-container {
  padding-top: 0;
  padding-bottom: 0;
  border-bottom: 0 none;
  line-height: 19px;

  .avatar {
    float: left;
    line-height: 0;
  }

  .post-body {
    margin-left: 88px;
    font-size: 13px;
    line-height: 16px;
    color: #666;
    a {
      color: #7777cc;
    }

    .title {
      font-size: 21px;
      line-height: 26px;
      margin-bottom: 2px;
      a {
        font-weight: bold;
        color: #0000cc;
      }
    }

    .text {
      font-family: Arial,sans-serif;
      font-size: 21px;
      line-height: 26px;
      color: #000;
      a { color: #0000cc; }
    }

    .edit-post {
    }

    .info {
      margin-top: 5px;
      &-private {
        padding-left: 14px;
        background: url("/img/lock.png") no-repeat left center;
      }
    }

    .likes {
      margin-top: 8px;
      padding-left: 21px;
      background: url("/img/smile.png") no-repeat top left;
      ul {
        list-style: none;
        margin: 0;
        padding: 0;
      }
      ul li {
      }
    }
  }

  .attachments {
    margin: 10px 0 10px 88px;
    overflow: hidden;

    .attachment {
      float: left;
      border: 1px solid silver;
      padding: 1px;
      margin-right: 8px;
    }
  }

  .info {
    clear: left;
  }
}