.timeline-post-container {
  padding-top: 14px;
  padding-bottom: 14px;
  border-bottom: 1px solid #eee;
  line-height: 19px;

  .avatar {
    float: left;
    line-height: 0;
  }

  .post-body {
    margin-left: 63px;

    .title {
      font-size: 15px;
      margin-bottom: 2px;
    }

    .text {
      font-family: Arial, sans-serif;
      font-size: 15px;
      line-height: 19px;
    }
  }
}