.profile{
  padding-bottom: 16px;
  border-bottom: 1px solid #eee;
  margin-bottom: 16px;

  .avatar {
    float: left;
    img{
      width: 75px;
      height: 75px;
    }
  }

  .description {
    margin-left: 90px;
    .name {
      font-size: 24px;
    }
  }
  .stats {
    text-align: right;
  }
}

.subscribe-controls {
  margin-bottom: 19px;
}

.create-post {
  padding-bottom: 14px;
  border-bottom: 1px solid #eee;
  margin-bottom: 14px;
}